* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
body{
    height: 100%;
    text-align: center;
    font-size: 24px;
}
img{
    margin-top: 150px;
}
.start{
    background: linear-gradient(90deg, rgba(52,71,152,1) 0%, rgba(28,25,121,1) 50%, rgba(16,36,135,1) 100%);
height: 100%;
}
.start p{
    color: white ;
    margin-bottom: 60px;
    font-size: 50px;
}
.container{
    height: 100%;
    background-color: white;
}
.navHead{
    background: rgb(52,71,152);
   color: white;
}
.start h1{
    margin-top: 150px;
}
#symptoms2, #symptoms3, #solution, #solution-description, #mechanic {
    display: none;
}

.mechanic-info {
    margin: 0;
}

.section-row {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
    
}

.section-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-row label{
        grid-column-start: 2;
        grid-column-end: 5;
        position: relative; 
        align-self: center;
        font-size: 16px;
}

.btns{
    border: 0;
    border-radius: 3px;
    background: #3AA0CA  ;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    margin: 10px 0px;
    align-self: center;
    min-width: 105px;
    min-height: 65px;
}

#symptoms2, #symptoms3 {
    text-align: center;
}
#symptoms2 .btns, #symptoms3 .btns {
        min-width: 250px;
    }

h4{
    text-align: center;
    padding: 10px;
}

i{
    justify-self:left;
    margin: 10px 0px;
    font-size: 20px;
}


#solution{
    min-height: 380px;
}